SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

# Google Cloud Storage — the Raw bucket created by Terraform
# You'll find the exact name in: terraform/outputs.tf → raw_bucket_name
GCS_RAW_BUCKET=your-project-id-echostream-raw
