.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
dist/
*.egg-info/
.ruff_cache/

.env
.spotify_cache


.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
*.tfvars

.DS_Store
Thumbs.db
2026*.md

# Airflow
airflow-logs/
logs/